<a href="https://colab.research.google.com/github/Usman-Zafar/AI-Based-Autism-Therapy-Prediction/blob/main/FYP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI Based Autism Therapy Prediction

In [70]:
## AI Based Autism Therapy
## Ali Aftab
## Mohammad Usman Zafar


## Module-I Autism Screening
## Module-II Autism Therapy Prediction

## Module-I Autism Therapy

### Package installations and imports

In [86]:
import torch
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

### Downloading Dataset from Drive

In [72]:
!gdown https://drive.google.com/file/d/1b2fY1nIxd-9upi5vlIj1WfdknKsPaLZy/view?usp=sharing --fuzzy

Downloading...
From: https://drive.google.com/uc?id=1b2fY1nIxd-9upi5vlIj1WfdknKsPaLZy
To: /content/Toddler Autism dataset July 2018.csv
100% 71.2k/71.2k [00:00<00:00, 133MB/s]

### Loading Dataset and Sampling Data

In [73]:
df = pd.read_csv("Toddler Autism dataset July 2018.csv")

df_sampled = df.sample(n=1050, random_state=42)
df_sampled.reset_index(drop=True, inplace=True)
df = df_sampled

df

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Class/ASD Traits,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Age_Mons
0,261,1,1,1,0,0,1,1,0,1,1,Yes,7,f,mixed,no,no,family member,33
1,1026,0,0,0,0,0,0,1,1,0,1,No,3,m,asian,yes,no,family member,23
2,846,0,0,0,0,0,0,1,0,0,1,No,2,m,middle eastern,yes,no,family member,21
3,1006,1,0,1,1,1,0,1,0,0,1,Yes,6,m,asian,no,no,family member,24
4,89,1,0,0,0,1,0,1,0,1,0,Yes,4,m,asian,no,no,family member,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,770,0,0,1,1,1,0,1,0,0,0,Yes,4,m,White European,yes,no,family member,31
1046,131,1,1,1,0,1,1,1,0,0,1,Yes,7,f,asian,no,no,family member,36
1047,872,1,1,1,1,1,1,1,1,1,1,Yes,10,m,White European,yes,no,family member,21
1048,88,0,0,0,1,0,0,1,0,0,1,No,3,m,middle eastern,no,no,family member,20
1049,331,0,0,1,1,1,1,1,1,1,0,Yes,7,m,asian,no,no,family member,36

### Setting GPU

In [74]:
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")
print ('<== CUDA availability : ==>', use_cuda)

<== CUDA availability : ==> True

### Data Split

In [75]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

print(f"Training set has {train_df.shape[0]} records.")
print(f"Test set has {test_df.shape[0]} records.")

Training set has 735 records.
Test set has 315 records.

### Dividing Dependant and Independant Data

In [76]:
# Remove the first row
df = df.iloc[1:]

# Select the independent variables (X)
X = df.iloc[:, 1:11]  # Columns 2 to 10 (Python uses 0-based indexing)

# Select the dependent variable (y)
y = df.iloc[:, 11]  # Column 11

# Now split these into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(f"Training set has {X_train.shape[0]} records.")
print(f"Test set has {X_test.shape[0]} records.")

Training set has 734 records.
Test set has 315 records.

### Testing Using SVM

In [78]:
# Create an instance of the SVC class
model = SVC()

# Train the model using the training data
model.fit(X_train, y_train)

print("The model has been trained.")

The model has been trained.

### Accuracy Score Using SVM

In [79]:
# Compute the accuracy of the model on the test set
accuracy = model.score(X_test, y_test)

print(f"The accuracy of the model on the test set is {accuracy*100:.2f}.")

The accuracy of the model on the test set is 99.05.