<a href="https://colab.research.google.com/github/Usman-Zafar/AI-Based-Autism-Therapy-Prediction/blob/main/FYP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI Based Autism Therapy Prediction

In [1]:
## AI Based Autism Therapy
## Ali Aftab
## Mohammad Usman Zafar


## Module-I Autism Screening
## Module-II Autism Therapy Prediction

## Module-I Autism Therapy

### Package installations and imports

In [2]:
import torch
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

### Downloading Dataset from Drive

In [3]:
!gdown https://drive.google.com/file/d/1Ld9dF3OSDEaYwAeTXTpYJ3582y3LlRAW/view?usp=sharing --fuzzy

Downloading...
From: https://drive.google.com/uc?id=1Ld9dF3OSDEaYwAeTXTpYJ3582y3LlRAW
To: /content/Autism_Data.csv
100% 58.6k/58.6k [00:00<00:00, 68.7MB/s]

### Loading Dataset and Sampling Data

In [4]:
df = pd.read_csv("Autism_Data.csv")
# Sample sizing the dataset for better distribution as it has 704 rows
df_sampled = df.sample(n=700, random_state=42)
df_sampled.reset_index(drop=True, inplace=True)
df = df_sampled

df

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,1,0,0,1,1,...,f,White-European,yes,no,'United Kingdom',no,8,'18 and more',Parent,YES
1,1,0,0,0,0,0,1,0,0,1,...,m,?,no,no,Jordan,no,3,'18 and more',?,NO
2,1,1,0,1,1,1,1,1,1,0,...,f,Black,no,yes,'United States',no,8,'18 and more',Self,YES
3,1,1,1,1,0,0,1,1,0,0,...,m,White-European,no,no,'United Kingdom',no,6,'18 and more',Self,NO
4,1,1,1,0,1,0,0,1,0,1,...,m,Others,no,no,'United Arab Emirates',no,6,'18 and more',Self,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,1,1,0,1,1,1,1,1,...,m,White-European,no,no,Netherlands,no,7,'18 and more',Relative,YES
696,1,0,1,1,1,1,1,1,1,1,...,f,White-European,no,no,'United States',no,9,'18 and more',Self,YES
697,1,1,0,1,0,0,0,1,0,1,...,f,'South Asian',no,no,India,no,5,'18 and more',Self,NO
698,0,1,1,1,0,0,0,0,0,0,...,m,?,no,no,'United Arab Emirates',no,3,'18 and more',?,NO
699,0,0,1,1,0,0,0,1,0,0,...,m,Asian,no,no,'New Zealand',no,3,'18 and more',Self,NO

### Setting GPU

In [5]:
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")
print ('<== CUDA availability : ==>', use_cuda)

<== CUDA availability : ==> True

### Data Split

In [6]:
# Dividing the dataset into 70% training data and 30% testing data
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

print(f"Training set has {train_df.shape[0]} records.")
print(f"Test set has {test_df.shape[0]} records.")

Training set has 490 records.
Test set has 210 records.

### Dividing Dependant and Independant Data

In [7]:
# Remove the first row
df = df.iloc[1:]

# Select the independent variables (X)
X = df.iloc[:, :10]  # Columns 2 to 10 (Python uses 0-based indexing)

# Select the dependent variable (y)
y = df.iloc[:, 20]  # Column 11

# Now split these into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(f"Training set has {X_train.shape[0]} records.")
print(f"Test set has {X_test.shape[0]} records.")

Training set has 489 records.
Test set has 210 records.

### Testing Using SVM

In [10]:
# Create an instance of the SVC class
model = SVC()

# Train the model using the training data
model.fit(X_train, y_train)

print("The model has been trained.")

The model has been trained.

### Accuracy Score Using SVM

In [11]:
# Compute the accuracy of the model on the test set
accuracy = model.score(X_test, y_test)

print(f"The accuracy of the model on the test set is {accuracy*100:.2f}%")

The accuracy of the model on the test set is 97.62%